{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style.css' %}" >
    <title>Blog Detail</title>
</head>
<body>
    <div class="container" id="details" data-aos="fade-right">
        <img src="{{ blogpost.thumbnail.url }}" class="images" alt="{% static 'images/b.jpg'  %}"  data-aos="fade-up">
        <br>
        <br>
        <center>
            <p class="page">Author name:<b>  {{ blogpost.author }}</b>--<span>Last commit:  {{ blogpost.updated }} </span> </p>
            <!-- <h5 class="text">{{ blogpost.post_title }} </h5>-->
        </center>
        <br>
        <div class="center">
            {% if user.is_authenticated %}
            {% if user.id == blogpost.author.id %}
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{% url 'update' blogpost.slug %}"><button type="button" class="btn btn-outline-info">Edit</button></a></li>
                        <li><a class="dropdown-item" href="{% url 'delete' blogpost.slug %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></li>
                    </ul>
                    </div>
                </div>
            {% endif %}
            {% endif %}
        </div>
        <br>
        <h4 class="intro"><u>{{ blogpost.intro }}</u> </h4>
        <br>
        <strong><h4 class="details"><u>Full Story:</u></h4><br></strong>
        <h5 class="content">{{ blogpost.content|safe }} </h5>
        <hr>
        <br>
        <br>
        <hr>
        <br>
        {% if user.is_authenticated %}
        <form action="{% url 'liked' blogpost.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <a href="{% url 'liked' blogpost.slug %}"><button class="btn btn-primary">Like {{ blogpost.likes.count }}</button></a>
        </form>
        <br>
        <br>
        <form action="{% url 'unliked' blogpost.slug %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<a href="{% url 'unliked' blogpost.slug %}"><button class="btn btn-danger">Unlike {{ blogpost.unlikes.count }}</button></a>-->
        </form>
        {% endif %}
        <hr>
    </div>
</body>
</html>
{% endblock content %}
