{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/style.css' %}" >
        <title>Useful links</title>
    </head>
    <body>
        <div class="container" id="link">
            <h4>here are some useful links</h4>
        </div>
    </body>
    </html>
{% endblock content %}